body {
    position: relative;
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 15px;
    line-height: 1.7;
}

body h1, h2, h3, h4, h5 {
    border-bottom: 1px solid #EEE;
    margin: 1em 0 15px;
    padding: 0;
    font-weight: bold;
    cursor: text;
    position: relative;
    line-height: 1.7;

}
body h1{
    border-bottom-color: #DDD;
    font-size: 2.2em;
}
body h2 {
    font-size: 1.7em;
}

body h3 {
    font-size: 1.2em;
}
